body {
  min-width: 990px; }

.site-nav {
  font-size: 12px;
  background-color: #F1F2F1;
  border-bottom: 1px solid #e5e5e5;
  color: #999; }
  .site-nav a {
    color: #999; }
    .site-nav a:hover {
      color: #FF0036; }
  .site-nav .nav-content {
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
    height: 36px;
    line-height: 36px; }
  .site-nav .g-left-nav {
    display: inline-block;
    float: left;
    overflow: hidden; }
    .site-nav .g-left-nav .item-leftNav {
      display: inline-block;
      float: left;
      padding: 0 10px; }
  .site-nav .g-right-nav {
    display: inline-block;
    float: right;
    overflow: hidden; }
    .site-nav .g-right-nav .fontCon {
      float: left;
      margin-top: 12px; }
    .site-nav .g-right-nav .item-rightNav {
      display: inline-block;
      float: left;
      padding: 0 8px; }
      .site-nav .g-right-nav .item-rightNav a {
        padding-left: 3px; }
      .site-nav .g-right-nav .item-rightNav .personal_dropmenu {
        position: absolute;
        padding: 0 10px;
        border: 1px solid #eee;
        border-top: 0;
        color: #999;
        background-color: #fff; }
      .site-nav .g-right-nav .item-rightNav .dropmenu-arrow {
        position: relative;
        display: inline-block;
        left: -3px;
        width: 6px;
        height: 6px; }
        .site-nav .g-right-nav .item-rightNav .dropmenu-arrow:after {
          content: '';
          position: absolute;
          top: 1px;
          left: 1px;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 3px solid #bbb;
          border-bottom: 3px solid transparent; }

.fa {
  color: red; }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.fade_rightPanel-enter-active {
  transition: opacity .5s; }

.fade_rightPanel-leave-active {
  transition: opacity 0s; }

.fade_rightPanel-enter, .fade_rightPanel-leave-to {
  opacity: 0; }

.fade_rightPanel-move {
  transition: transform 0s; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px; }

.mallSearch {
  width: 410px;
  margin: 0 auto;
  text-align: center; }
  .mallSearch .form-box {
    border: 2px solid #FF0036; }
    .mallSearch .form-box .searchInput {
      display: flex;
      height: 36px; }
    .mallSearch .form-box .input-box {
      padding-left: 10px;
      width: 80%;
      border: 0;
      font-size: 14px; }
    .mallSearch .form-box .btn-box {
      width: 40%;
      height: 100%;
      background-color: #FF0036;
      color: #fff;
      border: 0;
      font-size: 18px;
      font-weight: bold; }
  .mallSearch .tags-lists {
    height: 24px;
    line-height: 24px;
    margin-top: 5px; }
  .mallSearch .tags-item {
    display: inline-block;
    float: left;
    padding: 0 3px;
    font-size: 14px; }
    .mallSearch .tags-item:last-of-type a {
      border: 0; }
    .mallSearch .tags-item a {
      border-right: 2px solid #ddd;
      padding-right: 6px; }

.content .mainNav-box {
  border-bottom: 2px solid red;
  height: 35px; }
.content .main-nav {
  margin: 0 auto;
  width: 90%; }
  .content .main-nav .mainNavList {
    display: flex;
    align-items: center;
    float: left;
    padding: 0 15px;
    height: 35px;
    line-height: 35px; }
    .content .main-nav .mainNavList .mainListCon {
      padding-right: 5px;
      color: #fff; }
    .content .main-nav .mainNavList a {
      font-size: 16px;
      color: #333;
      font-weight: bold; }
    .content .main-nav .mainNavList:first-child {
      width: 15%;
      background: #FF0036;
      padding-left: 30px; }
      .content .main-nav .mainNavList:first-child a {
        color: #fff; }
.content .category-box {
  display: block;
  width: 100%; }
  .content .category-box .category-on {
    background-color: #007aff;
    display: flex;
    align-items: stretch;
    margin: 0 auto;
    width: 90%; }
    .content .category-box .category-on .g-left-nav {
      display: inline-block;
      position: absolute;
      z-index: 999;
      background: #000;
      opacity: .3; }
      .content .category-box .category-on .g-left-nav .isActive {
        background-color: #fff;
        color: #FF0036;
        cursor: pointer; }
    .content .category-box .category-on .g-right-panel {
      width: 80%;
      padding-left: 20%; }
      .content .category-box .category-on .g-right-panel .rightPanel {
        background-color: #fff; }
        .content .category-box .category-on .g-right-panel .rightPanel .nodeName {
          display: flex;
          align-items: center;
          padding: 10px;
          border-bottom: 1px dashed #ddd; }
          .content .category-box .category-on .g-right-panel .rightPanel .nodeName .g-node {
            font-size: 14px;
            color: #333;
            font-weight: bold; }
          .content .category-box .category-on .g-right-panel .rightPanel .nodeName .childNode {
            width: 80%;
            padding: 20px; }
            .content .category-box .category-on .g-right-panel .rightPanel .nodeName .childNode .childName {
              display: inline-block;
              float: left;
              padding: 0 10px;
              color: #8E8F8E;
              font-size: 14px;
              cursor: pointer; }
    .content .category-box .category-on .g-tag {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      color: #fff;
      padding-left: 25px;
      padding-right: 6px; }

.swiper-container {
  height: 302px; }

/*# sourceMappingURL=tianmao.css.map */
